<main id="main-content">
      <div class="contact-banner research-banner">
        <div class="contact-banner-overlay">
          <div class="contact-breadcrumb">
            <a href="/udu_clone/index.html"><i class="fa-solid fa-house-chimney"></i></a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="#"><span>Chương trình đào tạo</span></a>
            <i class="fa-solid fa-angle-right"></i>
            <span>{{course.name}}</span>
          </div>
          <h1 class="contact-banner-title">
            {{course.name}}
          </h1>
        </div>
      </div>
      <div class="udu-overview-container">
        <div class="udu-overview">
          <div class="udu-overview-item">
            <div class="udu-icon"><i class="fa-solid fa-barcode"></i></div>
            <div class="udu-info">
              <span class="udu-label">Mã ngành</span>
              <span class="udu-value">{{course.code}}</span>
            </div>
          </div>
          <div class="udu-overview-item">
            <div class="udu-icon"><i class="fa-regular fa-clock"></i></div>
            <div class="udu-info">
              <span class="udu-label">Thời gian</span>
              <span class="udu-value">{{course.duration}}</span>
            </div>
          </div>
          <div class="udu-overview-item">
            <div class="udu-icon">
              <i class="fa-regular fa-calendar-check"></i>
            </div>
            <div class="udu-info">
              <span class="udu-label">Kỳ nhập học</span>
              <span class="udu-value">{{course.intake}}</span>
            </div>
          </div>
          <div class="udu-overview-item">
            <div class="udu-icon"><i class="fa-solid fa-location-dot"></i></div>
            <div class="udu-info">
              <span class="udu-label">Cơ sở</span>
              <span class="udu-value">{{course.campus}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container udu-main-layout">
        <aside class="udu-sidebar">
          <ul>
            <li><a href="#tong-quan" class="active">Tổng quan</a></li>
            <li><a href="#chuan-dau-ra">Chuẩn đầu ra</a></li>
            <li><a href="#cau-truc-chuong-trinh">Cấu trúc chương trình</a></li>
            <li><a href="#nghe-nghiep">Nghề nghiệp</a></li>
            <li><a href="#hoc-phi">Học phí</a></li>
            <li><a href="#dieu-kien-tuyen-sinh">Điều kiện tuyển sinh</a></li>
            <li><a href="#quy-trinh-nhap-hoc">Quy trình nhập học</a></li>
            <li><a href="#tai-lieu-dao-tao">Tài liệu đào tạo</a></li>
          </ul>
        </aside>

        <div class="udu-content-right">
          <section id="tong-quan" class="udu-section">
            <h2 class="udu-section-title">Tổng quan</h2>
            <p>
              {{course.description}}
            </p>
          </section>

          <section id="chuan-dau-ra" class="udu-section">
            <h2 class="udu-section-title">Chuẩn đầu ra</h2>
            <div class="udu-table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Chuẩn đầu ra (LO)</th>
                    <th>Nội dung</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each course.learningOutcomes}}
                  <tr>
                    <td><b>{{this.lo_id}}</b></td>
                    <td>
                      {{this.lo_desc}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </section>

          <section id="cau-truc-chuong-trinh" class="udu-section">
            <h2 class="udu-section-title">Cấu trúc chương trình</h2>
            <div class="curriculum-container">
              {{#each course.curriculum}}
              <div class="semester-group">
                <div class="semester-label"><span>{{this.semester}}</span></div>
                <div class="semester-courses">
                  {{#each this.courses}}
                  <div class="course-card {{this.type}}">
                    <span class="course-credits">{{this.credits}}</span>
                    <h4 class="course-name">{{this.name}}</h4>
                  </div>
                  {{/each}}
                </div>
              </div>
              {{/each}}


              <div class="curriculum-legend">
                <div class="legend-item">
                  <div class="legend-color bg-bat-buoc-chung"></div>
                  Bắt buộc chung
                </div>
                <div class="legend-item">
                  <div class="legend-color bg-bo-tro-nganh"></div>
                  Bổ trợ ngành
                </div>
                <div class="legend-item">
                  <div class="legend-color bg-chuyen-nganh"></div>
                  Chuyên ngành
                </div>
                <div class="legend-item">
                  <div class="legend-color bg-giao-duc-chuyen-nghiep"></div>
                  Giáo dục chuyên nghiệp
                </div>
                <div class="legend-item">
                  <div class="legend-color bg-bat-buoc-chung-nhom-nganh"></div>
                  Bắt buộc chung nhóm ngành
                </div>
                <div class="legend-item">
                  <div class="legend-color bg-co-so-nganh"></div>
                  Cơ sở ngành
                </div>
                <div class="legend-item">
                  <div class="legend-color bg-thuc-tap"></div>
                  Thực tập
                </div>
                <div class="legend-item">
                  <div class="legend-color bg-luan-van"></div>
                  Luận văn tốt nghiệp
                </div>
              </div>
            </div>
          </section>

          <section id="nghe-nghiep" class="udu-section">
            <h2 class="udu-section-title">Nghề nghiệp</h2>
            <p>
              Với những kiến thức nền tảng toàn diện, hiện đại và thực tiễn liên
              quan đến Công nghệ thông tin định hướng ứng dụng của Học viện, sau
              khi tốt nghiệp, sinh viên sẽ có nhiều cơ hội việc làm hấp dẫn tại
              các doanh nghiệp trong nước và nước ngoài. Các vị trí việc làm cụ
              thể:
            </p>
            <ul class="udu-list">
              <li>
                <i class="fa-solid fa-check"></i> Lập trình viên website
                (Website Developer)
              </li>
              <li>
                <i class="fa-solid fa-check"></i> Lập trình viên ứng dụng di
                động (Mobile Developer)
              </li>
              <li>
                <i class="fa-solid fa-check"></i> Chuyên viên kiểm thử phần mềm
                (Tester)
              </li>
              <li>
                <i class="fa-solid fa-check"></i> Chuyên viên phân tích nghiệp
                vụ (Business Analyst)
              </li>
              <li>
                <i class="fa-solid fa-check"></i> Lập trình viên cơ sở dữ liệu
                (Database Developer)
              </li>
              <li>
                <i class="fa-solid fa-check"></i> Quản trị viên mạng máy tính
                (Network Administrator)
              </li>
              <li>
                <i class="fa-solid fa-check"></i> Cán bộ kỹ thuật, quản lý, điều
                hành trong lĩnh vực Công nghệ thông tin
              </li>
            </ul>
            <p>
              Bên cạnh đó, sau khi tốt nghiệp sinh viên cũng có thể tự tạo lập
              doanh nghiệp, trở thành cán bộ nghiên cứu, cán bộ giảng dạy về
              công nghệ thông tin tại các Viện, Trung tâm nghiên cứu và các Cơ
              sở đào tạo; Sinh viên cũng có thể tiếp tục học tiếp lên trình độ
              Sau đại học ở trong nước và nước ngoài.
            </p>
          </section>

          <section id="hoc-phi" class="udu-section">
            <h2 class="udu-section-title">Học phí</h2>
            <p><strong>Mức học phí (dự kiến):</strong> 900.000đ / 1 tín chỉ.</p>
          </section>

          <section id="dieu-kien-tuyen-sinh" class="udu-section">
            <h2 class="udu-section-title">Điều kiện tuyển sinh</h2>
            <p>
              Là người đã tốt nghiệp THPT hoặc tương đương, tham dự và trúng
              tuyển (đạt các yêu cầu đầu vào) trong kỳ tuyển sinh đại học hệ
              chính quy với tổ hợp xét tuyển: Toán, Lý, Hóa (A00 - khối A0);
              hoặc Toán, Lý, Anh văn (A01 - khối A1) hoặc các phương án xét
              tuyển riêng của Học viện Công nghệ Bưu chính Viễn thông.
            </p>
          </section>

          <section id="quy-trinh-nhap-hoc" class="udu-section">
            <h2 class="udu-section-title">Quy trình nhập học</h2>
            <div class="udu-process">
              <div class="process-step">
                <div class="step-icon">
                  <img src="/udu_clone/img/admission.png" alt="Chọn chương trình">
                </div>
                <div class="step-text">Chọn chương trình</div>
              </div>
              <div class="process-step">
                <div class="step-icon">
                  <img src="/udu_clone/img/accept.png" alt="Kiểm tra điều kiện">
                </div>
                <div class="step-text">Kiểm tra điều kiện</div>
              </div>
              <div class="process-step">
                <div class="step-icon">
                  <img src="/udu_clone/img/preparation.png" alt="Chuẩn bị hồ sơ">
                </div>
                <div class="step-text">Chuẩn bị hồ sơ</div>
              </div>
              <div class="process-step">
                <div class="step-icon">
                  <img src="/udu_clone/img/contract.png" alt="Nộp hồ sơ">
                </div>
                <div class="step-text">Nộp hồ sơ</div>
              </div>
            </div>
          </section>

          <section id="tai-lieu-dao-tao" class="udu-section">
            <h2 class="udu-section-title">Tài liệu đào tạo</h2>
            <a href="#" class="udu-download-btn"><i class="fa-solid fa-download"></i> AIoT_2025_Chuong trinh dao
              tao.docx</a>
          </section>
        </div>
      </div>
    </main>